/*
======================================
FONTS
======================================
*/
@each $color-name, $value in $colors {
  .font-#{$color-name} {
    color: $value;
  }

  .bg-#{$color-name} {
    background-color: $value;
  }
}

span.highlight {
  color: $main-green;
}

/*
======================================
GENERAL
======================================
*/
li:focus {
  outline: none;
}

// Modal
.modal-header {
  button.close {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
