/*
======================================
COLORS
======================================
*/
$main-green: #00b19d;
$main-gray: #707070;
$colors: (
  'main-green': $main-green,
  'main-gray': $main-gray,
);
